body {
    font-family: Arial, sans-serif;
    background-color: rgba(80, 143, 150, 0.38);
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: 100%;
    height: 25px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.278);
    color: #e0dcdc;
}

section {
    margin: 10px;
    padding: 10px;
    border: #000;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: rgb(229, 235, 233);
}

p {
    margin: 3px;
    line-height: 20px;
}

.social {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    justify-content: inherit;
    padding: 5px;
    gap: 3px;
    margin: 3px;

}

button {
    border-radius: 5px;
    background-color: #2b00ff;
    cursor: pointer;
}

.navbar1 {
    display: flex;
    justify-content: center;
}

.nav-links1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    width: 100%;
}

.footer {
    background-color: #a2d7e9;
}

.copy {
    display: flex;
    justify-content: center;
}